img.profile-pic {
  width: 8px;
  float: right;
  margin: 0 0 1em 1em;
  border-radius: 8px; /* optional */
}

.float-right {
  float: right;
}

/* Widen content area */
.content {
  max-width: 2000px;  /* Default is often ~800px */
  margin: 0 auto;
  padding: 0 1rem;
}
