img.profile-pic {
  width: 200px !important;
  float: right;
  margin: 0 0 10px 10px;
}

.float-right {
  float: right;
}

/* Widen content area */
.content {
  max-width: 12000px;  /* Default is often ~800px */
  margin: 0 auto;
  padding: 0 1rem;
}
