img.profile-pic {
  width: 200px !important;
  float: right;
  margin: 0 0 10px 10px;
}

.float-right {
  float: right;
}

/* Lower h1 header */
.header {
  margin-top: 100px;
}

/* Widen content area */
.max-width {
  max-width: 800px;  /* Default is often ~800px */
  margin: 0 auto;
  padding: 0 1rem;
}

ol li {
  margin-bottom: 1em;  /* Adjust spacing as needed */
}

ol.pub-list a {
  text-decoration: none !important;
  color: #0056b3 !important;
}


/* Optional: change link color on hover */
a:hover {
  color: #003366;          /* darker shade or highlight */
}

